# .gitignore
built-in-ai-challenge-firebase-adminsdk-5bv8p-0564c52214.json
AI_Student_Portal/AI_Student_Portal/__pycache__
.env
./node_modules

./React/package-lock.json
# Logs
./React/logs
./React/*.log
./React/npm-debug.log*
./React/yarn-debug.log*
./React/yarn-error.log*
./React/pnpm-debug.log*
./React/lerna-debug.log*

./React/node_modules
./React/dist
./React/dist-ssr
*./React/.local

# Editor directories and files
./React/.vscode/*
./React/!.vscode/extensions.json
./React/.idea
./React/.DS_Store
./React/*.suo
./React/*.ntvs*
./React/*.njsproj
./React/*.sln
./React/*.sw?
package-lock.json
node_modules
