/* Parent container */

.parentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color:transparent;
    width: 100%;
    min-width: fit-content;
}

/* Child element */
.loginPrompt {
    background-color: white;
    border-radius: 10px;
    padding: 1% 10px;
    color: black;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.hoverButton{
    color: black;
    display:flex;
    align-items:center;
    justify-content:center;
    align-self: center;
    justify-self: center;
}

.hoverButton:hover{
    color:white;
    background-color: rgba(0, 0, 0, 0.05);
}

.logo:hover{
    filter: none;
}

.loginInputs{
    justify-content: center;
    align-items: center;
}

.centeredContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px auto;
}

.subjectTitle{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 60%;
    padding: 30px;
}

.shortAnnouncement{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 60%;
    padding: 5px;
    margin-top: 10px ;
    background-color: rgb(255, 212, 0);
    display: flex;
    align-items: center;
    position: relative;
}

.handClickIcon {
    position: absolute;
    bottom: -13px; /* Adjust as needed to position the hand outside the container */
    right: -18px;  /* Adjust as needed to position the hand outside the container */
    height: 40px;  /* Adjust the size as needed */
    width: 40px;   /* Adjust the size as needed */
    transform: rotate(-45deg); /* Adjust as needed to rotate the hand */
    fill:white;
  }

.grayBorder{
    border: 3px solid rgba(0, 0, 0, 0.13);
    padding: 10px;
}

.tabsGray{
    background-color: rgba(0, 0, 0, 0.05);
    justify-content: left;
    width: 100%;
    margin-bottom: -2px;    
}

[aria-selected="true"] {
    background-color: white;
    border-color: #e2e8f0;
    border-bottom: 2px solid gray;
}

.materialsFolder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.05);
    width:fit-content;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.materialsFolder:hover{
    cursor: pointer;
}

.materialsContainer{
    display:flex;
    justify-content: space-evenly;
    margin:10px 20px;
}

.weeklyContainer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin:20px;
    border-radius: 3px;
}

.itemTitle{
    display: flex;
    height: fit-content;
}

.itemIcon{
    padding:auto;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.weeklyItem{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    padding-left: 0px;
}

.folderTitle{
    display: flex;
    align-items: center;

}

.filesContainer{
    border: 1px solid black;
    min-height: 60vh;
    height:fit-content;
    position: relative;
}

.grayRightBorder{
    border-right: 3px solid rgba(0,0,0,0.3);
    margin-left: 50px;
    position: absolute;
}

.assignmentDetailsGroup{
    background-color: rgb(227, 226, 226);
    width: fit-content;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.assignmentDetailsText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0 10px ;
}

.assignmentDetail{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px auto;
}

.submissionDetailsGroup{
    background-color: rgb(213, 213, 213);
    width: 80%;
    padding: 10px;
    align-items: center;
    justify-content: left;
}

.uploadInterface{
    background-color: rgb(243, 243, 243);
    width: 90%;
    justify-self: center;
    margin: 10px auto;
    height: fit-content;
    padding: 10px;
}

.uploadInner{
    display:flex;
    background-color: white;
    height: 30vh;
    justify-self: center;
    width: 80%;
    margin:10px;
}

.innerLeft{
    align-content: center;
    justify-content: center;
    width:75%;
    border-right: 2px solid black;
}

.innerRight{
    justify-content: left;
    padding: 15px;
}

.addRemarks{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
}